<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="format-detection" content="telephone=no" />
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">PAYHADA - ADMIN</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div layout:fragment="content" class="common-content-wrapper"></div>
        <footer th:replace="fragments/footer :: footer"></footer>
        <script layout:fragment="page-script"></script>
    </body>
</html>
