.contentWrap {
  padding: 30px 30px 60px 30px;
}

.alginCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.whiteBg {
  background-color: white;
}

.maxWidth {
  width: 400px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 40px 30px;
  border-radius: 10px;
}

.paddingZero {
  padding: 0 !important;
}

.textBold {
  font-weight: bold !important;
}

.textCenter {
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.marginTop {
  margin-top: 40px;
}

.smarginTop {
  margin-top: 15px;
}

.marginBottom {
  margin-bottom: 15px;
}

.marginLeft {
  margin-left: 15px;
}

.marginRight {
  margin-right: 15px;
}

.alignRow {
  display: flex;
  justify-content: space-between;
}

.boxTitle {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: left !important;
}

@media (max-width: 700px) {
  .maxWidth {
    width: 70%;
  }
}

/* modal */
.modalWrap {
  padding: 20px 30px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalBody {
  margin-top: 20px;
}

.modalBottom {
  display: flex;
  flex-direction: row-reverse;
}

.modalBottom button:nth-child(1) {
  margin-left: 10px;
}

.cursor {
  cursor: pointer;
}

/* label input */
.errorText {
  font-size: 10px;
  color: red;
  padding-left: 10px;
}

.inputWrap {
  padding: 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

.inputNone {
  border: none;
  height: 32px;
}

/* font */
.primary {
  color: #5e72e4;
}

.secondary {
  color: #24447b;
}

.warning {
  color: #ff7f99;
}

.lightGray {
  color: #f4f5f7;
}

.success {
  color: #2dce89;
}

.label {
  font-size: 13px !important;
}

.adminWrap {
  padding: 50px 30px;
  display: flex;
}

.textHidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 90%;
}

/* sideMenu */

.menuSubItem {
  padding: 10px 0 10px 62px;
  color: #757679;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}

.menuSubItem:hover {
  background-color: #e3f1ff;
  color: #009efd;
}

.fixMenu {
  background-color: #e3f1ff;
  color: #009efd;
}

.menuOpenActive {
  color: #009efd !important;
}

.dropdown-menu {
  box-shadow: none !important;
  transform: translate3d(0px, -60px, 0px) !important;
}

.scrollBar::-webkit-scrollbar {
  width: 5px;
}

.scrollBar::-webkit-scrollbar-thumb {
  height: 10%;
  border-radius: 10px;
}
