.dashWrap {
  padding: 10px 30px 20px 30px;
  display: flex;
  flex-wrap: wrap;
}

.dashboardLeft {
  display: flex;
  flex-direction: column;
}

.leftTopCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.leftTopCard > div:nth-child(1) {
  margin-left: 0;
}

.topCard {
  width: 18rem;
  margin-left: 15px;
}

.infoCardTop {
  display: flex;
  justify-content: space-between;
}

.dashRight {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.bottomLeftCardWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

.bottomLeftCardWrap > div:nth-child(1) {
  flex: 1;
}

.bottomLeftCardWrap > div:nth-child(2) {
  flex: 1;
  margin-left: 15px;
}

.rightMiddleCard,
.rightBottomCard {
  margin-top: 15px;
}

.rightBottomCard {
  flex: 1;
}

.chartTopWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.chartTitle,
.selectBtnWrap,
.btnWrap,
.selectWrap,
.rightMiddleCard,
.rightBottomCard {
  flex: 1;
}
.btnWrap {
  display: flex;
  align-items: center;
}

.btnWrap > button,
.selectWrap select {
  font-size: 13px !important;
  padding: 3px 10px;
  flex: 1;
}

.selectWrap select {
  margin-left: 10px;
}

th {
  padding: 10px 5px !important;
}

.tableRow td {
  padding: 20px 0 !important;
}

@media (max-width: 1800px) {
  .dashboardLeft {
    width: 1800px;
  }
  .topCard {
    width: calc(100% / 4 - 15px);
  }
  .dashRight {
    margin-left: 0;
    margin-top: 15px;
    display: flex;
  }
  .dashRight > div {
    flex: 1;
  }
  .dashRight > div:nth-child(2) {
    margin-top: 15px;
    margin-left: 0;
  }
}

@media (max-width: 1400px) {
  .topCard {
    width: calc(100% / 2 - 10px);
    margin-left: 15px;
    margin-top: 15px;
  }
  .leftTopCard > div:nth-child(3) {
    margin-left: 0;
  }

  .selectBtnWrap {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .topCard {
    width: 100%;
    margin-left: 0;
  }
  .leftTopCard > div:nth-child(1) {
    margin-top: 0;
  }
  .chartTopWrap {
    display: block;
  }
  .bottomLeftCardWrap {
    flex-direction: column;
  }
  .bottomLeftCardWrap > div:nth-child(2) {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .dashWrap {
    padding: 20px 30px;
  }
}
