.containerWrap {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 30px 0 30px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .containerWrap {
    display: none;
  }
}
