<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.payhada.admin.dao.LoginDAO">

	<select id="selectEmployeeWithLoginId" parameterType="LoginDTO" resultType="LoginDTO">
		SELECT user_no, login_id AS id, pwd, otp_code, otp_date, pwd_fail_cnt, lock_start_time, language_cd, last_login_date
		FROM employee 
		WHERE login_id = #{id}
	</select>

	<select id="selectEmployeeRoles" parameterType="String" resultType="EmployeeAgentRoleMappDTO">
		SELECT erm.user_no
			 , erm.role_group_code
			 , rg.role_group_name
			 , a.agent_code
			 , a.nation_code
		FROM employee_agent_role_mapp erm
		LEFT JOIN role_group rg ON erm.role_group_code = rg.role_group_code AND rg.use_yn = 'Y'
		LEFT JOIN agent a ON erm.agent_code = a.agent_code
		WHERE erm.user_no = #{value}
	</select>

	<update id="updateEmployeeFailureData" parameterType="LoginDTO">
		UPDATE employee
		<set>
			lock_start_time = #{lockStartTime},
			<if test="pwdFailCnt != null">
				pwd_fail_cnt = #{pwdFailCnt},
			</if>
		</set>
		WHERE user_no = #{userNo}
	</update>

	<update id="updateLastLoginDate" parameterType="String">
		UPDATE employee
		SET last_login_date = NOW()
		WHERE user_no = #{userNo}
	</update>

	<update id="generateOTPCode" parameterType="LoginDTO">
		UPDATE employee
		SET otp_code = #{otpCode}, otp_date = #{otpDate}
		WHERE user_no = #{userNo}
	</update>

	<select id="selectEmployeeInfo" resultType="EmployeeInfoDTO" parameterType="String">
		SELECT user_no, decrypt(user_name) AS userName, decrypt(first_name_en) AS firstNameEn, decrypt(last_name_en) AS lastNameEn,
		       email, decrypt(tel_num) AS telNum, decrypt(mobile_num) AS mobileNum, gender, decrypt(birth) AS birth, nationality_code,
		       decrypt(zip_code) AS zipCode, decrypt(address) AS address, decrypt(address_detail) AS addressDetail,
			   decrypt(address_en) AS addressEn, decrypt(address_detail_en) AS addressDetailEn, decrypt(city) AS city,
			   decrypt(state) AS state, join_date, leave_date, modify_date, modify_user_no
		FROM employee_info
		WHERE user_no = #{userNo}
	</select>

	<update id="updateEmployeeLanguageCd" parameterType="LoginDTO">
		UPDATE employee SET language_cd = #{languageCd} WHERE user_no = #{userNo}
	</update>

</mapper>

