<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.payhada.admin.dao.LoginDAO">

	<select id="selectMemberWithLoginId" parameterType="loginDTO" resultType="loginDTO">
		SELECT e.login_id AS id
		, e.pwd
		, e.otp_code AS code
		, e.user_no AS userNo
		FROM employee e
		WHERE e.login_id = #{id}
		<if test="pwd != null">
			AND e.pwd = #{pwd}
		</if>
	</select>

	<select id="selectEmployeeRoles" parameterType="loginDTO" resultType="EmployeeRoleMappDTO">
		SELECT *
		FROM employee_role_mapp
		WHERE user_no = #{userNo}
	</select>

	<select id="selectRoleGroupByCode" parameterType="String" resultType="RoleGroupDTO">
		SELECT *
		FROM role_group
		WHERE role_group_code = #{roleGroupCode}
	</select>

</mapper>

