<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.payhada.admin.dao.StatDAO">

    <select id="selectDailyUserCount" resultType="map" parameterType="map">
        SELECT DAY(reg_dt) AS day, COUNT(*) AS userCount
        FROM tb_user
        WHERE MONTH(reg_dt) = #{month} AND YEAR(reg_dt) = #{year}
          AND status != '11'
        GROUP BY DAY(reg_dt)
    </select>

    <select id="selectDailyCertUserCount" resultType="map" parameterType="map">
        SELECT DAY(reg_dt) AS day, COUNT(*) AS certUserCount
        FROM tb_user
        WHERE MONTH(reg_dt) = #{month} AND YEAR(reg_dt) = #{year}
          AND (status = '00' OR status = '21')
        GROUP BY DAY(reg_dt)
    </select>

    <select id="selectDailyTxnCount" resultType="map" parameterType="map">
        SELECT DAY(trade_complete_dt) AS day, COUNT(*) AS txnCount
        FROM tb_trade
        WHERE status = '00' AND
            MONTH(trade_complete_dt) = #{month} AND YEAR(trade_complete_dt) = #{year}
        GROUP BY DAY(trade_complete_dt)
    </select>

    <select id="selectDailyRemittance" resultType="map" parameterType="map">
        SELECT DAY(trade_complete_dt) AS day, CAST(SUM(reqeust_amt) AS UNSIGNED) AS remittance
        FROM tb_trade
        WHERE status = '00' AND
            MONTH(trade_complete_dt) = #{month} AND YEAR(trade_complete_dt) = #{year}
        GROUP BY DAY(trade_complete_dt)
    </select>

    <select id="selectMonthlyUserCount" resultType="map">
        SELECT MONTH(reg_dt) AS month, COUNT(*) AS userCount
        FROM tb_user
        WHERE
            YEAR(reg_dt) = IF(MONTH(CURRENT_DATE()) = 1, YEAR(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)), YEAR(CURRENT_DATE()))
            AND IF(MONTH(CURRENT_DATE()) = 1, 13, MONTH(CURRENT_DATE())) > MONTH(reg_dt)
            AND status != '11'
        GROUP BY MONTH(reg_dt)
        ORDER BY MONTH(reg_dt)
    </select>

    <select id="selectMonthlyCertUserCount" resultType="map">
        SELECT MONTH(reg_dt) AS month, COUNT(*) AS certUserCount
        FROM tb_user
        WHERE
            YEAR(reg_dt) = IF(MONTH(CURRENT_DATE()) = 1, YEAR(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)), YEAR(CURRENT_DATE()))
            AND IF(MONTH(CURRENT_DATE()) = 1, 13, MONTH(CURRENT_DATE())) > MONTH(reg_dt)
            AND (status = '00' OR status = '21')
        GROUP BY MONTH(reg_dt)
        ORDER BY MONTH(reg_dt)
    </select>

    <select id="selectMonthlyTxnCount" resultType="map">
        SELECT MONTH(trade_complete_dt) AS month, COUNT(*) AS txnCount
        FROM tb_trade
        WHERE
            YEAR(trade_complete_dt) = IF(MONTH(CURRENT_DATE()) = 1, YEAR(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH)), YEAR(CURRENT_DATE()))
            AND IF(MONTH(CURRENT_DATE()) = 1, 13, MONTH(CURRENT_DATE())) > MONTH(trade_complete_dt)
            AND status = '00'
        GROUP BY MONTH(trade_complete_dt)
        ORDER BY MONTH(trade_complete_dt)
    </select>

    <select id="selectLastMonthUserCount" resultType="Integer">
        SELECT COUNT(*) AS userCount
        FROM tb_user
        WHERE
            MONTH(reg_dt) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH)
          AND
            YEAR(reg_dt) = YEAR(CURRENT_DATE() - INTERVAL 1 MONTH)
          AND status != '11'
    </select>

    <select id="selectLastMonthCertUserCount" resultType="Integer">
        SELECT COUNT(*) AS certUserCount
        FROM tb_user
        WHERE
            MONTH(reg_dt) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH)
          AND
            YEAR(reg_dt) = YEAR(CURRENT_DATE() - INTERVAL 1 MONTH)
          AND
            (status = '00' OR status = '21')
    </select>

    <select id="selectLastMonthTxnCount" resultType="Integer">
        SELECT COUNT(*) AS txnCount
        FROM tb_trade
        WHERE
            MONTH(trade_complete_dt) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH)
          AND
            YEAR(trade_complete_dt) = YEAR(CURRENT_DATE() - INTERVAL 1 MONTH)
          AND
            status = '00'
    </select>

    <select id="selectLastMonthRemittance" resultType="String">
        SELECT CAST(SUM(reqeust_amt) AS UNSIGNED) AS remittance
        FROM tb_trade
        WHERE
            MONTH(trade_complete_dt) = MONTH(CURRENT_DATE() - INTERVAL 1 MONTH)
          AND
            YEAR(trade_complete_dt) = YEAR(CURRENT_DATE() - INTERVAL 1 MONTH)
          AND
            status = '00'
    </select>

    <select id="selectThisWeekUserCount" resultType="Integer">
        SELECT COUNT(*) AS userCount
        FROM tb_user
        WHERE YEARWEEK(reg_dt, 1) = YEARWEEK(CURDATE(), 1)
          AND status != '11'
    </select>

    <select id="selectThisWeekCertUserCount" resultType="Integer">
        SELECT COUNT(*) AS certUserCount
        FROM tb_user
        WHERE YEARWEEK(reg_dt, 1) = YEARWEEK(CURDATE(), 1) AND (status = '00' OR status = '21')
    </select>

    <select id="selectThisWeekTxnCount" resultType="Integer">
        SELECT COUNT(*) AS txnCount
        FROM tb_trade
        WHERE YEARWEEK(trade_complete_dt, 1) = YEARWEEK(CURDATE(), 1) AND status = '00'
    </select>

    <select id="selectThisWeekRemittance" resultType="String">
        SELECT CAST(SUM(reqeust_amt) AS UNSIGNED) AS remittance
        FROM tb_trade
        WHERE YEARWEEK(trade_complete_dt, 1) = YEARWEEK(CURDATE(), 1) AND status = '00'
    </select>

    <select id="selectThisMonthUserCount" resultType="Integer">
        SELECT COUNT(*) AS userCount
        FROM tb_user
        WHERE MONTH(reg_dt) = MONTH(CURRENT_DATE())
          AND YEAR(reg_dt) = YEAR(CURRENT_DATE())
          AND status != '11'
    </select>

    <select id="selectThisMonthCertUserCount" resultType="Integer">
        SELECT COUNT(*) AS certUserCount
        FROM tb_user
        WHERE MONTH(reg_dt) = MONTH(CURRENT_DATE()) AND YEAR(reg_dt) = YEAR(CURRENT_DATE()) AND
            (status = '00' OR status = '21')
    </select>

    <select id="selectThisMonthTxnCount" resultType="Integer">
        SELECT COUNT(*) AS txnCount
        FROM tb_trade
        WHERE status = '00' AND
            MONTH(trade_complete_dt) = MONTH(CURRENT_DATE()) AND YEAR(trade_complete_dt) = YEAR(CURRENT_DATE())
    </select>

    <select id="selectThisMonthRemittance" resultType="String">
        SELECT CAST(SUM(reqeust_amt) AS UNSIGNED) AS remittance
        FROM tb_trade
        WHERE status = '00' AND
            MONTH(trade_complete_dt) = MONTH(CURRENT_DATE()) AND YEAR(trade_complete_dt) = YEAR(CURRENT_DATE())
    </select>

    <select id="selectAllUserCount" resultType="Integer">
        SELECT COUNT(*) AS userCount
        FROM tb_user
        WHERE status != '11'
    </select>

    <select id="selectAllCertUserCount" resultType="Integer">
        SELECT COUNT(*) AS certUserCount
        FROM tb_user
        WHERE (status = '00' OR status = '21')
    </select>

    <select id="selectAllTxnCount" resultType="Integer">
        SELECT COUNT(*) AS txnCount
        FROM tb_trade
        WHERE status = '00'
    </select>

    <select id="selectAllRemittance" resultType="String">
        SELECT CAST(SUM(reqeust_amt) AS UNSIGNED) AS remittance
        FROM tb_trade
        WHERE status = '00'
    </select>

    <select id="selectLastDayUserCount" resultType="Integer">
        SELECT COUNT(*) AS userCount
        FROM tb_user
        WHERE DATE(reg_dt) = (CURRENT_DATE() - INTERVAL 1 DAY)
            AND status != '11'
    </select>

    <select id="selectLastDayCertUserCount" resultType="Integer">
        SELECT COUNT(*) AS certUserCount
        FROM tb_user
        WHERE (status = '00' OR status = '21')
            AND DATE(reg_dt) = (CURRENT_DATE() - INTERVAL 1 DAY)
    </select>

    <select id="selectLastDayTxnCount" resultType="Integer">
        SELECT COUNT(*) AS txnCount
        FROM tb_trade
        WHERE status = '00'
            AND DATE(trade_complete_dt) = (CURRENT_DATE() - INTERVAL 1 DAY)
    </select>

    <select id="selectLastDayRemittance" resultType="String">
        SELECT CAST(SUM(reqeust_amt) AS UNSIGNED) AS remittance
        FROM tb_trade
        WHERE status = '00'
            AND DATE(trade_complete_dt) = (CURRENT_DATE() - INTERVAL 1 DAY)
    </select>

    <select id="selectMonthlyRemittance" resultType="map">
        SELECT SUM(CAST(reqeust_amt AS DECIMAL(10))) AS KRW, SUM(CAST(trade_usd_amt AS DECIMAL(10, 2))) AS USD
        FROM tb_trade
        WHERE status = '00' AND
            YEAR(trade_complete_dt) = YEAR(CURRENT_DATE())
        GROUP BY MONTH(trade_complete_dt)
        ORDER BY MONTH(trade_complete_dt)
    </select>

</mapper>

