<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- BEGIN: Header-->
        <header th:fragment="header" class="page-topbar" id="header">
            <div class="navbar navbar-fixed">
                <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-indigo-purple no-shadow">
                    <div class="nav-wrapper">
                        <div class="header-search-wrapper hide-on-med-and-down">
                            <i class="material-icons">search</i>
                            <input
                                class="header-search-input z-depth-2"
                                type="text"
                                name="Search"
                                placeholder="Explore Materialize"
                                data-search="template-list"
                            />
                            <ul class="search-list collection display-none"></ul>
                        </div>
                        <ul class="navbar-list right">
                            <!-- <li class="dropdown-language">
                            <a class="waves-effect waves-block waves-light translation-button" href="#" data-target="translation-dropdown">
                                <span class="flag-icon flag-icon-gb"></span>
                            </a>
                        </li> -->
                            <li>
                                <a
                                    class="waves-effect waves-block waves-light profile-button"
                                    href="javascript:void(0);"
                                    data-target="profile-dropdown"
                                >
                                    <span class="avatar-status avatar-online">
                                        <img th:src="@{/images/avatar-1.png}" alt="avatar" />
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <!-- translation-button
                    <ul class="dropdown-content" id="translation-dropdown">
                        <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="en"><i class="flag-icon flag-icon-gb"></i> English</a></li>
                        <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="fr"><i class="flag-icon flag-icon-fr"></i> French</a></li>
                        <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a></li>
                        <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="de"><i class="flag-icon flag-icon-de"></i> German</a></li>
                    </ul> -->
                        <!-- profile-dropdown-->
                        <ul class="dropdown-content" id="profile-dropdown">
                            <li>
                                <a class="grey-text text-darken-1" href="user-profile-page.html"
                                    ><i class="material-icons">person_outline</i> Profile</a
                                >
                            </li>
                            <!-- <li class="divider"></li>
                        <li>
                            <a class="grey-text text-darken-1" href="user-lock-screen.html"><i class="material-icons">lock_outline</i> Lock</a>
                        </li> -->
                            <li>
                                <a class="grey-text text-darken-1" href="user-login.html"><i class="material-icons">keyboard_tab</i> Logout</a>
                            </li>
                        </ul>
                    </div>
                    <nav class="display-none search-sm"></nav>
                </nav>
            </div>
        </header>
        <!-- END: Header-->
    </body>
</html>
