<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- BEGIN: SideNav-->
<aside th:fragment="SideNav" class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a class="brand-logo darken-1" th:href="@{/main}"><span class="logo-text hide-on-med-and-down">PAYHADA ADMIN</span></a>
        </h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow ps" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion" style="transform: translateX(0%);">
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0"><i class="material-icons">person</i><span class="menu-title" data-i18n="Dashboard">## 관리</span></a>
            <div class="collapsible-body" style="">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li class="active"><a class="active" href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">에이전트 및 부서 관리</span></a></li>
                    <li><a href="dashboard-ecommerce.html"><i class="material-icons">navigate_next</i><span data-i18n="eCommerce">직원 관리</span></a></li>
                    <li><a href="dashboard-ecommerce.html"><i class="material-icons">navigate_next</i><span data-i18n="eCommerce">권한 관리</span></a></li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)"><i class="material-icons">dvr</i><span class="menu-title" data-i18n="Templates">홈페이지</span></a>
            <div class="collapsible-body" >
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li class="active">
                        <a class="collapsible-header waves-effect waves-cyan active" data-collapsible="accordion" href="JavaScript:void(0)" tabindex="0">
                            <i class="material-icons">navigate_next</i><span data-i18n="Vertical">게시판 관리</span></a>
                        <div class="collapsible-body">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li><a href="../vertical-modern-menu-template/"><i class="material-icons depth">navigate_next</i><span data-i18n="Modern Menu">공지사항 관리</span></a></li>
                                <li><a href="../vertical-menu-nav-dark-template/"><i class="material-icons depth">navigate_next</i><span data-i18n="Navbar Dark">문의관리</span></a></li>
                                <li><a href="../vertical-gradient-menu-template/"><i class="material-icons depth">navigate_next</i><span data-i18n="Gradient Menu">약관 관리</span></a></li>
                                <li><a href="../vertical-dark-menu-template/"><i class="material-icons depth">navigate_next</i><span data-i18n="Dark Menu">자주하는 질문 관리</span></a></li>
                                <li><a href="../vertical-dark-menu-template/"><i class="material-icons depth">navigate_next</i><span data-i18n="Dark Menu">이벤트 관리</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">팝업 / 배너 관리</span></a></li>
                    <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">코드 관리</span></a></li>
                    <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">엑셀 다운로드 내역</span></a></li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0"><i class="material-icons">work</i><span class="menu-title" data-i18n="Templates">송금업무</span></a>
            <div class="collapsible-body" style="">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-body" >
                            <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                <li class="active"><a class="active" href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">송금 조회</span></a></li>
                                <li><a href="dashboard-ecommerce.html"><i class="material-icons">navigate_next</i><span data-i18n="eCommerce">송금 처리</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0"><i class="material-icons">people</i><span class="menu-title" data-i18n="Templates">회원 관리</span></a>
            <div class="collapsible-body" >
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-body" >
                            <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                <li class="active"><a class="active" href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">회원 관리</span></a></li>
                                <li><a href="dashboard-ecommerce.html"><i class="material-icons">navigate_next</i><span data-i18n="eCommerce">수취인 관리</span></a></li>
                                <li><a href="dashboard-ecommerce.html"><i class="material-icons">navigate_next</i><span data-i18n="eCommerce">회원 탈퇴 관리</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0"><i class="material-icons">fact_check</i><span class="menu-title" data-i18n="Templates">정산 관리</span></a>
            <div class="collapsible-body" >
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-body" >
                            <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                <li class="active"><a class="active" href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">타발</span></a></li>
                                <li><a href="dashboard-ecommerce.html"><i class="material-icons">navigate_next</i><span data-i18n="eCommerce">당발</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0"><i class="material-icons">fact_check</i><span class="menu-title" data-i18n="Templates">회계</span></a>
            <div class="collapsible-body" style="">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-body" >
                            <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                <li class="active"><a class="active" href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">회계보고</span></a></li>
                                <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">프리펀딩</span></a></li>
                                <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">고객 지급명세</span></a></li>
                                <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">회사 정산명세</span></a></li>
                                <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">과금 및 서비스</span></a></li>
<!--                            </ul>-->
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0"><i class="material-icons">settings</i><span class="menu-title" data-i18n="Templates">송금환경설정</span></a>
            <div class="collapsible-body" style="">
                <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-body" >
                            <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                <li class="active"><a class="active" href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">환율 설정</span></a></li>
                                <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">고시환율 이력</span></a></li>
                                <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">설정환율 이력</span></a></li>
                                <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">업무수수료 관리</span></a></li>
                                <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">STR 관리</span></a></li>
                                <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">계좌 관리</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0"><i class="material-icons">admin_panel_settings</i><span class="menu-title" data-i18n="Templates">컴플라이언스</span></a>
                        <div class="collapsible-body" style="">
                            <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-body" >
                                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                            <li class="active"><a class="active" href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">WLF 목록</span></a></li>
                                            <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">WLF대상 조회</span></a></li>
                                            <li><a href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">WLF대상 조회 목록</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)" tabindex="0"><i class="material-icons">history</i><span class="menu-title" data-i18n="Templates">대외계</span></a>
                        <div class="collapsible-body" style="">
                            <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-body" >
                                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                                            <li class="active"><a class="active" href="dashboard-modern.html"><i class="material-icons">navigate_next</i><span data-i18n="Modern">거래 조회</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </li>
    </ul>
    <div class="navigation-background"></div>
    <a
            class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
            href="#"
            data-target="slide-out"
    ><i class="material-icons">menu</i></a
    >
</aside>
<!-- END: SideNav-->
</body>
</html>
